@import url("./variables.css");
@font-face {
  font-family: "IndieFlower-Regular";
  src: url("./assets/fonts/IndieFlower-Regular.ttf");
}
@font-face {
  font-family: "Imprima-Regular";
  src: url("./assets/fonts/Imprima-Regular.ttf");
}

:root {
  background-color: var(--white);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  * {
    font-family: "Imprima-Regular";
  }
}

#root {
  .container {
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Imprima", sans-serif;
    font-style: normal;
  }
}

.title {
  font-size: 1.7rem;
  padding-top: 1rem;
}

h2 {
  font-weight: 200;
}
.mainButton {
  margin-top: 1rem;
  margin-bottom: 3rem;
  width: 6.3rem;
  height: 2.5rem;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  border-bottom: 2px solid #fe5f38;
  border-radius: 15px;
}

.mainButton:hover {
  width: 6.4rem;
  height: 2.6rem;
}

.featuredImages {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (width >= 1200px) {
  .featuredImages {
    flex-direction: row;
    gap: 3rem;
  }

  .title {
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
  }

  .mainButton {
    margin-bottom: 3.5rem;
  }
}
